.pacchomp {
    position: relative;
    background: transparent;
    z-index: 1;
    pointer-events: none;

    &::before,&::after{
        content: '';
        position: absolute;
        top: -956px;
        left: -956px;
        display: block;
        border-radius: 50%;
        height: 0;
        width: 0;
    }

    &::before{
        animation: chunk-top 10s 2.5s ease infinite;
        // transform: rotate(-105deg);
        border: 956px solid #F7DE36;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }
    
    &::after{
        animation: chunk-bot 10s 2.5s ease infinite;
        // transform: rotate(15deg);
        border: 956px solid #F7DE36;
        border-left-color: transparent;
        border-top-color: transparent;
    }
}

@keyframes chunk-top {
    0%,50%,100% {
        transform: rotate(-95deg);
    }
    73%,77%{
        transform: rotate(-45deg);
    }
    
}
@keyframes chunk-bot {
    0%,50%,100% {
        transform: rotate(5deg);
    }
    73%,77%{
        transform: rotate(-45deg);
    }
    
}

@media screen and (max-width: 900px) {
    .pacchomp{
        &::before,&::after{
            top: -70vh;
            left: -70vh;
        }
        &::before{
            border: 70vh solid #F7DE36;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
        &::after{
            border: 70vh solid #F7DE36;
            border-left-color: transparent;
            border-top-color: transparent;
        }
    }
}