.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1915px;
    padding-top: 110px;
    align-items: center;
    gap: 102px;
    text-align: center;
    overflow: hidden;
    justify-content: space-between;

    h1,h2{
        display: none;
    }
    
//   background: url("./assets/images/pacbgmangif.gif");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: fixed;

    .cherry{
        position: absolute;
        z-index: 5;
        width: 101px;
        height: 118px;
        top: 840px;
        right: 0;
        transform: rotate(14.36deg);
        cursor: pointer;
        animation: scale-a-lil linear both;
    animation-timeline: view();
    animation-range: 20vh 60vh;

        &:hover{
            transform: scale(1.1) rotate(14.36deg);
        }
    }
    .apple{
        position: absolute;
        z-index: 5;
        right: -50px;
        width: 346px;
        height: 356px;
        top: 1030px;
        transform: rotate(-9.12deg);
        cursor: pointer;
        animation: scale-a-lil linear both;
    animation-timeline: view();
    animation-range: 20vh 60vh;

        &:hover{
            transform: scale(1.1) rotate(-9.12deg);
        }
    }
    .orange{
        position: absolute;
        z-index: 5;
        left: -50px;
        width: 313px;
        height: 371px;
        top: 800px;
        transform: rotate(15.67deg);
        cursor: pointer;
        animation: scale-a-lil linear both;
    animation-timeline: view();
    animation-range: 20vh 60vh;

        &:hover{
            transform: scale(1.1) rotate(15.67deg);
        }
    }
    .straw{
        position: absolute;
        z-index: 5;
        width: 86px;
        height: 94px;
        left: 380px;
        top: 1000px;
        transform: rotate(-19.35deg);
        cursor: pointer;
        animation: scale-a-lil linear both;
    animation-timeline: view();
    animation-range: 20vh 60vh;

        &:hover{
            transform: scale(1.1) rotate(-19.35deg);
        }
    }
    .welcome{
        position: absolute;
        z-index: 5;
        width: 794px;
        height: 190px;
        // left: 400px;
        top: 1200px;
        animation: scale-a-lil linear both;
    animation-timeline: view();
    animation-range: 20vh 60vh;
    }

    .infopics {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .infopac{
            width: 257px;
            height: 99px;
        }
        .infopic {
            height: 277px;
            width: 824px;
            transform: translateY(5px);
        }
        .infodesc{
            height: 84px;
            width: 820px;
        }
        .infocontent{
            display: flex;
            align-items: center;
            gap: 24px;
            transform: translateY(7px);

            span,h3 {
                font-family: "Autom";
                font-size: 64px;
                margin: 10px 0;
                padding: 0;
            }
            h3{
                color: #FBED1F;
            }
        }
        .getstarted{
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'ClashDisplay';
            width: 188px;
            height: 51px;
            font-size: 18px;
            outline: none;
            border-radius: 8px;
            padding: 16px;
            font-weight: 400;
            text-align: center;
            background-color: black;
            border: 0.125em solid #000AFF;
            transition: background-color 0.5s linear;
            cursor: pointer;
            color: white;
            text-shadow: 
            0 0 0.125em hsl(0, 0%, 100%),
            0 0 0.45em #000AFF;
            box-shadow: 
            inset 0 0 0.5em 0 #000AFF,
            0 0 0.5em 0 #000AFF;
            position: relative;
            font-family: 'ClashDisplay';

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                box-shadow: 0 0 2em 0.5em #000AFF;
                opacity: 1;
                transition: opacity 0.5s linear;
            }
            &::before {
                content: '';
                pointer-events: none;
                position: absolute;
                background: #000AFF;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                transform: perspective(1em) rotateX(40deg) scale(1,0.35);
                filter: blur(1em);
                opacity: 0.6;
            }
            &:hover,&:focus{
                background-color: #000AFF;
                // color: black;
                text-shadow: 
            0 0 0.125em black,
            0 0 0.25em #000AFF;
    
                &:after{
                    opacity: 1;
                }
            }
        }
    }

    .infoghosts{
        position: relative;
        width: 100%;
        height: 702px;
        z-index: 10;
        margin-top: 130px;
        display: flex;
        justify-content: space-around;

        .inky,.blinky,.pinky,.clyde{
            height: 702px;
            width: 310px;
            border-radius: 200px 200px 0 0;
            cursor: pointer;
            
            .top{
                height: 318px;
                transition-delay: 0.5s;
                border-radius: 200px 200px 0 0;
            }
            .bot{
                height: 384px;
                transition: 1s ease;
                display: flex;
                justify-content: center;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    opacity: 0.1;
                    transition: 1s ease;
                    transform: translateY(384px);
                }
                h6{
                    position: absolute;
                    width: 201px;
                    // height: 100px;
                    font-family: 'ClashDisplay';
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 25px;
                    padding: 0;
                    margin: 0;
                    bottom: 200px;
                    transition: 1s ease;
                }
                span{
                    text-align: center;
                    width: 310px;
                    position: absolute;
                    bottom: 50px;
                    z-index: 13;
                    font-family: 'ClashDisplay';
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 54px;
                    transition: 1s ease;
                }

                // &::before{
                //     content: '';
                //     display: block;
                //     position: absolute;
                //     height: 384px;
                //     width: 310px;
                //     z-index: 11;
                //     opacity: 1;
                //     transition: 1s ease;
                // }
            }
        }
        .inky{
            background: linear-gradient(180deg, #D9CCE9 0%, #731FDD 100%);
            .top{
                background-image: url('../../assets/images/eyeleft.png');
                // background-color: #A259FF;
                background-size: contain;
                background-repeat: no-repeat;
            }
            // .bot{
            //     &::before{
            //         opacity: 1;
            //         background-color: #A259FF;
            //     }
            // }
            &:hover{
                .top{
                    background-image: url('../../assets/images/eyedown.png');
                    // background-color: #A259FF;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .bot{
                    img{
                        transform: translateY(0);
                        opacity: 1;
                    }
                    span{
                        transform: translateY(50px);
                        opacity: 0.8;
                    }
                    h6{
                        opacity: 0;
                        transform: translateY(40px);
                    }
                    // &::before{
                    //     height: 0;
                    //     opacity: 0.9;
                    // }
                }
            }
        }
        .blinky{
            background: linear-gradient(180deg, #FCDBD8 0%, #DE3C2A 100%);

            .top{
                background-image: url('../../assets/images/eyeleft.png');
                // background-color: #FF7262;
                background-size: contain;
                background-repeat: no-repeat;
            }
            // .bot{
            //     &::before{
            //         background-color: #FF7262;
            //     }
            // }
            &:hover{
                .top{
                    background-image: url('../../assets/images/eyedown.png');
                    // background-color: #FF7262;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .bot{
                    img{
                        transform: translateY(0);
                        opacity: 1;
                    }
                    span{
                        transform: translateY(50px);
                        opacity: 0.9;
                    }
                    h6{
                        opacity: 0;
                        transform: translateY(40px);
                    }
                }
            }
        }
        .pinky{
            background: linear-gradient(180deg, #ACEAD2 0%, #00CA7C 100%);

            .top{
                background-image: url('../../assets/images/eyeright.png');
                // background-color: #0ACF83;
                background-size: contain;
                background-repeat: no-repeat;
            }
            // .bot{
            //     &::before{
            //         background-color: #0ACF83;
            //     }
            // }
            &:hover{
                .top{
                    background-image: url('../../assets/images/eyedown.png');
                    // background-color: #0ACF83;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .bot{
                    span{
                        transform: translateY(50px);
                        opacity: 0.9;                    }
                    img{
                        transform: translateY(0);
                        opacity: 1;
                    }
                    h6{
                        opacity: 0;
                        transform: translateY(40px);
                    }
                    // &::before{
                    //     height: 0;
                    // }
                }
            }
        }
        .clyde{
            background: linear-gradient(180deg, #E8CAC2 0.5%, #EB400E 100%);

            .top{
                background-image: url('../../assets/images/eyeright.png');
                // background-color: #F24E1E;
                background-size: contain;
                background-repeat: no-repeat;
            }
            // .bot{
            //     &::before{
            //         opacity: 1;
            //         background-color: #F24E1E;
            //     }
            // }
            &:hover{
                .top{
                    background-image: url('../../assets/images/eyedown.png');
                    // background-color: #F24E1E;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .bot{
                    span{
                        transform: translateY(50px);
                        opacity: 0.9;                    }
                    img{
                        transform: translateY(0);
                        opacity: 1;
                    }
                    h6{
                        opacity: 0;
                        transform: translateY(40px);
                    }
                    // &::before{
                    //     height: 0;
                    // }
                }
            }
        }
    }
}

@keyframes scale-a-lil {
    from {
      scale: .7;
    }
}

@media screen and (max-width: 900px) {
    .info{
        justify-content: none;
        gap: 0;
        height: 150vh;

        h1,h2{
            display: block;
            font-family: 'Autom';
        }
        h1{
            color: #FBED1F;
        }
        .cherry,.straw,.apple,.orange{
            display: none;
        }
        .welcome{
            top: 150vh;
            width: 90%;
            height: 25%;
        }
        .infopics{
            .infopac{
                width: 30%;
                height: 15%;
            }

            .infopic{
                width: 80%;
                height: 40%;
            }
            .infodesc{
                display: none;
            }
            .infocontent{
                justify-content: center;
                gap: 2em;

                span,h3{
                    font-size: 2.5em;
                }
            }
            .getstarted{
                margin: 10px 0;
                margin-bottom: 20px;
                width: 11em;
                height: 3em;
                font-size: 1.2em;
                padding: 1.6em 0;
            }
        }
        .infoghosts{
            height: 50vh;
        }
    }
}