.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1915px;
    padding-top: 110px;
    align-items: center;
    gap: 102px;
    text-align: center;
    overflow: hidden;
    justify-content: space-between;
    
//   background: url("./assets/images/pacbgmangif.gif");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: fixed;

    .cherry{
        position: absolute;
        z-index: 5;
        width: 101px;
        height: 118px;
        top: 840px;
        right: 0;
        transform: rotate(14.36deg);
        cursor: pointer;

        &:hover{
            transform: scale(1.1) rotate(14.36deg);
        }
    }
    .apple{
        position: absolute;
        z-index: 5;
        right: 0;
        width: 346px;
        height: 356px;
        top: 1030px;
        transform: rotate(-9.12deg);
        cursor: pointer;

        &:hover{
            transform: scale(1.1) rotate(-9.12deg);
        }
    }
    .orange{
        position: absolute;
        z-index: 5;
        left: 0;
        width: 313px;
        height: 371px;
        top: 850px;
        transform: rotate(15.67deg);
        cursor: pointer;

        &:hover{
            transform: scale(1.1) rotate(15.67deg);
        }
    }
    .straw{
        position: absolute;
        z-index: 5;
        width: 86px;
        height: 94px;
        left: 420px;
        top: 1240px;
        transform: rotate(-19.35deg);
        cursor: pointer;

        &:hover{
            transform: scale(1.1) rotate(-19.35deg);
        }
    }
    .infopics {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .infopac{
            width: 257px;
            height: 99px;
        }
        .infopic {
            height: 277px;
            width: 824px;
            transform: translateY(5px);
        }
        .infodesc{
            height: 84px;
            width: 820px;
        }
        .infocontent{
            display: flex;
            align-items: center;
            gap: 24px;
            transform: translateY(7px);

            span,h3 {
                font-family: "Autom";
                font-size: 64px;
                margin: 10px 0;
                padding: 0;
            }
            h3{
                color: #FBED1F;
            }
        }
        .getstarted{
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'ClashDisplay';
            width: 188px;
            height: 51px;
            font-size: 18px;
            outline: none;
            border-radius: 12px;
            padding: 16px;
            font-weight: 400;
            text-align: center;
            background-color: black;
            border: 0.125em solid #000AFF;
            transition: background-color 0.5s linear;
            cursor: pointer;
            color: white;
            text-shadow: 
            0 0 0.125em hsl(0, 0%, 100%),
            0 0 0.45em #000AFF;
            box-shadow: 
            inset 0 0 0.5em 0 #000AFF,
            0 0 0.5em 0 #000AFF;
            position: relative;
            font-family: 'ClashDisplay';

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                box-shadow: 0 0 2em 0.5em #000AFF;
                opacity: 1;
                transition: opacity 0.5s linear;
            }
        }
    }

    .infoghosts{
        position: relative;
        width: 100%;
        height: 702px;
        z-index: 10;
        margin-top: 130px;
        display: flex;
        justify-content: space-around;

        .inky,.blinky,.pinky,.clyde{
            height: 702px;
            width: 310px;
            border-radius: 200px 200px 0 0;
            cursor: pointer;
            
            .top{
                height: 318px;
                transition-delay: 0.5s;
                border-radius: 200px 200px 0 0;
            }
            .bot{
                height: 384px;
                transition: 1s ease;
                display: flex;
                justify-content: center;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    opacity: 0.5;
                    transition: 0.5s ease;
                }

                span{
                    text-align: center;
                    width: 310px;
                    position: absolute;
                    bottom: 80px;
                    z-index: 13;
                    font-family: 'ClashDisplay';
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 54px;
                    transition: 0.5s ease;
                }

                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    height: 384px;
                    width: 310px;
                    z-index: 11;
                    opacity: 0.9;
                    transition: 0.5s ease;
                }
            }
        }
        .inky{
            .top{
                background-image: url('../../assets/images/eyeleft.png');
                background-color: #A259FF;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .bot{
                &::before{
                    background-color: #A259FF;
                }
            }
            &:hover{
                .top{
                    background-image: url('../../assets/images/eyedown.png');
                    background-color: #A259FF;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .bot{
                    img{
                        opacity: 1;
                    }
                    span{
                        opacity: 0;
                    }
                    &::before{
                        height: 0;
                    }
                }
            }
        }
        .blinky{
            .top{
                background-image: url('../../assets/images/eyeleft.png');
                background-color: #FF7262;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .bot{
                &::before{
                    background-color: #FF7262;
                }
            }
            &:hover{
                .top{
                    background-image: url('../../assets/images/eyedown.png');
                    background-color: #FF7262;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .bot{
                    img{
                        opacity: 1;
                    }
                    span{
                        opacity: 0;
                    }
                    &::before{
                        height: 0;
                    }
                }
            }
        }
        .pinky{
            .top{
                background-image: url('../../assets/images/eyeright.png');
                background-color: #0ACF83;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .bot{
                &::before{
                    background-color: #0ACF83;
                }
            }
            &:hover{
                .top{
                    background-image: url('../../assets/images/eyedown.png');
                    background-color: #0ACF83;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .bot{
                    span{
                        opacity: 0;
                    }
                    img{
                        opacity: 1;
                    }
                    &::before{
                        height: 0;
                    }
                }
            }
        }
        .clyde{
            .top{
                background-image: url('../../assets/images/eyeright.png');
                background-color: #F24E1E;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .bot{
                &::before{
                    background-color: #F24E1E;
                }
            }
            &:hover{
                .top{
                    background-image: url('../../assets/images/eyedown.png');
                    background-color: #F24E1E;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .bot{
                    span{
                        opacity: 0;
                    }
                    img{
                        opacity: 1;
                    }
                    &::before{
                        height: 0;
                    }
                }
            }
        }
    }
}