.demo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 36px;
    height: 1193px;
    .screen{
        width: 810px;
        height: 935px;
        border-radius: 12px;
        position: relative;
        // overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        background: black;
        z-index: 1;
        transform: translateX(3px) translateY(18px);

        .insertcoin{
            position: absolute;
            width: 95px;
            height: 139px;
            overflow: hidden;
            right: -265px;

            img{
                width: 95px;
                height: 139px;
                transform: translateX(90px) translateY(-20px);
            }
        }

        h3{
            padding: 0;
            margin: 0;
            font-family: 'Autom';
            font-weight: 700;
            font-size: 65px;
            text-align: center;
            color: #F6DE38;
            opacity: 0.9;
            transition: 1s ease;
        }
        span{
            font-family: 'Autom';
            font-weight: 700;
            text-align: center;
            font-size: 32px;
            color: #F6DE38;
            opacity: 0.9;
            transition: 1s ease;
        }
        .fuzzcont{
            position: absolute;
            width: 810px;
            height: 925px;
            overflow: hidden;
            pointer-events: none;
            border-radius: 12px;  
            .fuzz{
                position: absolute;
                inset: -200%;
                background-image: url('../../assets/images/noise.png');
                opacity: 0.3;
                animation: shift 0.3s linear infinite both;
                pointer-events: none;
                transition: 1s ease;
            }
        }
        .mappac{
            width: 100%;
            object-fit: cover;
            opacity: 0;
            height: 0;
            transition: 1s ease;
            border-radius: 12px;
        }

        &:hover{
            .insertcoin{
                img{
                    animation: insertgold 1.5s ease;
                }
            }
            .mappac{
                opacity: 1;
                height: 100%;
                transition-delay: 1.2s;
            }
            .fuzz{
                opacity: 0;
                transition-delay: 1.2s;

            }
            h3{
                opacity: 0;
                transition-delay: 1.2s;

            }
            span{
                opacity: 0;
                transition-delay: 1.2s;

            }
        }
    }
    img{
        position: absolute;
        width: 1463px;
        height: 1193px;
        // z-index: 2;
    }
}
.dripcont{
    padding: 0 36px;
    img{
        width: 100%;
        height: 320px;
    }
}

@keyframes shift {
    0%{
        transform: translateX(10%) translateY(10%);
    }
    100%{
        transform: translateX(-10%) translateY(-10%);
    }
}

@keyframes insertgold {
    0%{
        transform: translateX(90px) translateY(-20px);
    }
    100%{
        transform: translateX(-90px);
    }
}