.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // position: fixed;
    // border-bottom: 2px solid #FBED1F;
    // background: black;
    // z-index: 1000;

    &:after{
        content: '';
        position: absolute;
        top: 95px;
        left: 3%;
        width: 94%;
        height: 1px;
        background-color: #FBED1F;
        text-shadow: 
        0 0 0.125em hsl(0, 0%, 100%),
        0 0 0.45em #FBED1F;
        box-shadow: 
        inset 0 0 0.5em 0 #FBED1F,
        0 0 0.5em 0 #FBED1F;
    }

    h3{
        font-family: "CrackMan";
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    .homeabout {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        width: 352px;
        height: 30px;
        transform: translateX(50px);

        span{
            font-family: "ClashDisplay";
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            cursor: pointer;
            // color: white;
            a{
                text-decoration: none !important;
                color: inherit;
            }
            &:first-child{
                color: #FBED1F;
                text-shadow: 
                0 0 0.125em hsl(0, 0%, 100%),
                0 0 0.45em #FBED1F;
            }

            &:hover{
                text-shadow: 
                0 0 0.125em hsl(0, 0%, 100%),
                0 0 0.45em #FBED1F;
            }
        }
    }

    .signin{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 127px;
        height: 46px;
        padding: 16px 0;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        border-radius: 10px;
        background: transparent;
        border: 0.125em solid #FBED1F;
        transition: background-color 0.5s linear;
        cursor: pointer;
        color: white;
        text-shadow: 
        0 0 0.125em hsl(0, 0%, 100%),
        0 0 0.45em #FBED1F;
        box-shadow: 
        inset 0 0 0.5em 0 #FBED1F,
        0 0 0.5em 0 #FBED1F;
        position: relative;
        font-family: 'ClashDisplay';
        // &::before {
        //     content: '';
        //     pointer-events: none;
        //     position: absolute;
        //     background: #FBED1F;
        //     top: 100%;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     transform: perspective(1em) rotateX(40deg) scale(1,0.35);
        //     filter: blur(1em);
        //     opacity: 0.7;
        // }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: 0 0 2em 0.5em #FBED1F;
            opacity: 0;
            transition: opacity 0.5s linear;
        }

        &:hover,&:focus{
            background-color: #FBED1F;
            color: black;
            text-shadow: 
        0 0 0.125em black,
        0 0 0.25em #FBED1F;

            &:after{
                opacity: 1;
            }
        }
    }

    .headeranim{
        height: 34px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        transform: translateX(-30px);
        
        .ghosts{
            height: 34px;
            width: 187px;
            background: url("../../assets/images/ghosts.png");
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;

            &::before{
                display: block;
                height: 34px;
                width: 187px;
                content: '';
                background: url("../../assets/images/ghostwalk.png");
                background-size: cover;
                background-repeat: no-repeat;
                animation: flicker 0.5s linear infinite;
            }

            &:hover{
                background: url("../../assets/images/blueghost.png");
                background-size: cover;

                &::before{
                    background: url("../../assets/images/blueghostwalk.png");
                    background-size: cover;
                }
            }
        }
        .eat{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            cursor: pointer;

            .pacman{
                height: 34px;
                width: 31px;
                background: url("../../assets/images/pacman.png");
                background-size: cover;
                background-repeat: no-repeat;
                z-index: 1;
                
                &::before{
                    opacity: 0;
                    content: '';
                    display: block;
                    height: 34px;
                    width: 34px;
                    background: url("../../assets/images/shutpac.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    z-index: 1;
                    animation: chomp 0.5s linear infinite;
                }
            }
        
            .pellets{
                height: 6.4px;
                width: 147px;
                background: url("../../assets/images/pellets.png");
                background-size: cover;
                background-repeat: no-repeat;
                animation: moveleft 0.5s linear infinite;
            }

            &:hover{
                .pacman::before{
                    animation: chomp 0.25s linear infinite;
                }
                .pellets{
                    animation: moveleft 0.25s linear infinite;
                }
            }
        }
    }
}

@keyframes moveleft{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-24px);
    }
}

@keyframes chomp {
    0% {
        opacity: 0;
    }
    36% {
      opacity: 0;
    }
    64% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}

@keyframes flicker {
    0%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}