.awards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    gap: 60px;

    .slider{
        height: 307px;
        position: relative;
        width: 100%;
        display: grid;
        place-items: center;
        margin-bottom: 40px;
        // overflow: hidden;

        // &::before,&::after {
        //     background: linear-gradient(to right,rgba(255,255,255,0) 0%,#FFFCE1 100%);
        //     content: '';
        //     height: 100%;
        //     position: absolute;
        //     width: 5%;
        //     z-index: 2;
        // }

        // &::before{
        //     left: 0;
        //     top: 0;
        // }

        // &::after{
        //     right: 0;
        //     top: 0;
        // }

        .slidetrack{
            display: flex;
            width: calc(5296px);
            animation: scroll 20s linear infinite;
            perspective: 500px;

            &:hover{
                animation-play-state: paused;
            }

            .slide{
                height: 307px;
                width: 662px;
                display: flex;
                align-items: center;
                transition: 1s ease;
                cursor: pointer;

                img{
                    width: 100%;
                }

                &:hover{
                    transform: translateY(58px) ;
                }
            }
        }
        .joytop{
            position: absolute;
            top: -200px;
            right: 50px;
            // pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 124px;
            height: 100px;
            overflow: hidden;
            transform-style: preserve-3d;
            z-index: 1;
            cursor: pointer;
            img{
                width: 46px;
                height: 105px;
                z-index: 1;
                transform: rotate(-25deg) translateX(-20px);
                transition: transform 1s ease;
            }
        }
        .joybot{
            position: absolute;
            top: -120px;
            right: 50px;
            // pointer-events: none;
            width: 124px;
            height: 47px;
            cursor: pointer;
            box-shadow: 
            // inset 0 0 0.5em 0 black,
            0.25em 0.5em 2em 0 black;
        }

        &:hover{
            .joytop img{
                transform: rotate(0) translateY(5px);
            }
            .slidetrack{
                animation-play-state: paused;
            }
        }
    }

    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;

        .what{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
            
            h3{
                font-family: 'ClashDisplay';
                font-weight: 600;
                font-size: 75px;
                padding: 0;
                margin: 0;
            }
        }
        span{
            font-family: 'ClashDisplay';
            font-weight: 400;
            font-size: 20px;
        }
    }

    .prizes{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 95%;
            height: 258px;
            box-shadow: 1em 1em 2em 0 black;
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-2648px));
    }
}