.footer{
    margin-top: 40px;
    // border-top: 1px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .scrollpac{
        height: 4em;
        width: 40em;
        margin: 1em 0;
        background: transparent;
        animation: scrmove auto linear;
        animation-timeline: --page-scroll;
        &::before,&::after{
            content: '';
            position: absolute;
            display: block;
            border-radius: 50%;
            height: 0;
            width: 0;
        }
        &::before{
            animation: scrpactop auto linear;
            animation-timeline: --page-scroll;
            animation-iteration-count: 150;
            border: 2em solid #F7DE36;
            border-left-color: transparent;
            border-bottom-color: transparent;
        }
        &::after{
            animation: scrpacbot auto linear;
            animation-timeline: --page-scroll;
            animation-iteration-count: 150;
            border: 2em solid #F7DE36;
            border-right-color: transparent;
            border-top-color: transparent;
        }
    }

    .meet{
        margin: 30px 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 50px;

        .row{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .meetdesc{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            transform: translateY(-20px);

            span{
                // width: 1206px;
                font-family: 'ClashDisplay';
                font-weight: 400;
                font-size: 20px;
                text-align: center;
            }
        }
        
        .meetfam{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 25px;

            span{
                font-family: 'ClashDisplay';
                font-weight: 600;
                font-size: 75px;
                text-align: center;
                
                &:first-child{
                    color: #F7DE36;
                }
            }

        }
    }
    img{
        margin-top: 20px;
        width: 100vw;
        height: 338px;
    }
}

@keyframes scrmove {
	from { transform: translateX(-450vw); }
	to { transform: translateX(110vw); }
}
@keyframes scrpactop{
    0%,100%{
        transform: rotate(-45deg);
    }
    50%{
        transform: rotate(-80deg);
    }
}
@keyframes scrpacbot{
    0%,100%{
        transform: rotate(-40deg);
    }
    50%{
        transform: rotate(0deg);
    }
}
@media screen and (max-width: 900px) {
    .footer{
        .meet{
            .meetfam{
                margin: 0;
                span{
                    font-size: 4rem;
                }
            }
            .meetdesc{
                display: none;
            }
        }
        img{
            height: max-content;
        }
    }
}