.footer{
    margin-top: 40px;
    // border-top: 1px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .scrollpac{
        height: 4em;
        width: 40em;
        margin: 1em 0;
        background: transparent;
        animation: scrmove auto linear;
        animation-timeline: --page-scroll;
        &::before,&::after{
            content: '';
            position: absolute;
            display: block;
            border-radius: 50%;
            height: 0;
            width: 0;
        }
        &::before{
            animation: scrpactop auto linear;
            animation-timeline: --page-scroll;
            animation-iteration-count: 150;
            border: 2em solid #F7DE36;
            border-left-color: transparent;
            border-bottom-color: transparent;
        }
        &::after{
            animation: scrpacbot auto linear;
            animation-timeline: --page-scroll;
            animation-iteration-count: 150;
            border: 2em solid #F7DE36;
            border-right-color: transparent;
            border-top-color: transparent;
        }
    }

    .meet{
        margin: 30px 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 40px;

        .row{
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .pacbut1{
                width: 30px; height: 30px;
                transform: rotate(180deg);
                cursor: pointer;
                transition: 1s ease;
                &:hover{
                    transform: rotate(-540deg);
                    opacity: 0.8;
                }
            }
            .pacbut2{
                width: 30px; height: 30px;
                cursor: pointer;
                transition: 1s ease;
                &:hover{
                    transform: rotate(720deg);
                    opacity: 0.8;
                }
            }
        }

        .meetdesc{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            transform: translateY(-20px);

            span{
                // width: 1206px;
                font-family: 'ClashDisplay';
                font-weight: 400;
                font-size: 20px;
                text-align: center;
            }
            .blinker {
                animation: blink-animation 1s infinite;
                min-width: 10px;
                display: inline-block;
                animation-fill-mode: both;
                opacity: 0;
            
                @keyframes blink-animation {
                    0%,100% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 1;
                    }
                }
            }
            .eater{
                width: 2em;
                height: 2em;
                background: transparent;
                transform: translateX(-10px);
                &::before,&::after{
                    content: '';
                    position: absolute;
                    display: block;
                    border-radius: 50%;
                    height: 0;
                    width: 0;
                }
                &::before{
                    animation: scrpactop 0.4s linear infinite;
                    border: 1em solid #F7DE36;
                    border-right-color: transparent;
                    border-top-color: transparent;
                }
                &::after{
                    animation: scrpacbot 0.4s linear infinite;
                    border: 1em solid #F7DE36;
                    border-left-color: transparent;
                    border-bottom-color: transparent;
                }
            }
        }
        
        .meetfam{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 25px;

            span{
                font-family: 'ClashDisplay';
                font-weight: 600;
                font-size: 75px;
                text-align: center;
                min-width: 25px;
                display: inline-block;
                animation-fill-mode: both;
                transition: color 0.3s ease-out;
                text-align: center;

                &:hover {
                    animation: rubberBand 1s;
                    color: #F7DE36;
                }
            }
            .meetfirst span{
                color: #F7DE36;

                &:hover{
                    color: white;
                }
            }
        }
    }
    .movable{
        position: absolute;
        width: 2em; height: 2em;
        background-color: #F7DE36;
        border-radius: 50%;
        // z-index: -10;
        cursor: pointer;
        animation: szchange 0.5s alternate infinite;
        $px: 4px;
        $black: #000;
        $white: #fff;
        $shadow: rgba(0,0,0,0.1);

        @keyframes szchange {
            to{
                box-shadow: inset 0 0 1em 0 #FBED1F, 0 0 1em 0 #FBED1F;;
            }
        }
        &:hover{
            .speech{
                opacity: 1;
            }
        }

        .speech{
            z-index: -1;
            position: relative;
            text-align: center;
            font-family: 'PressStart2P';
            font-size: 8px;
            line-height: 1.4em;
            background: transparent;
            margin-left: 11*$px;
            top: -8*$px;
            padding: 2*$px;
            color: white;
            box-shadow: 0 -1*$px $white, 
            0 -2*$px $black, 
            $px 0 $white, 
            $px -1*$px $black, 
            2*$px 0 $black, 
            0 $px $white, 
            0 2*$px $black, 
            -1*$px 0 $white, 
            -1*$px  $px $black, 
            -2*$px 0 $black, 
            -1*$px -1*$px $black, 
            $px $px $black;
            box-sizing: border-box;
            width: 250px;
            opacity: 0;

            &::after {
                content: '';
                display: block;
                position: absolute;
                box-sizing: border-box;
                height: $px;
		        width: $px;
		        left: -2*$px;
		        background: white;
		        box-shadow: -1*$px -1*$px $white,
		        	-1*$px 0 $white,
		        	-2*$px 0 $white,
		        	0 -2*$px $white,
		        	-1*$px 1*$px $black, 
		        	-2*$px 1*$px $black, 
		        	-3*$px 1*$px $black, 
		        	-4*$px 1*$px $black,
		        	-3*$px 0 $black, 
		        	-2*$px -1*$px $black, 
		        	-1*$px -2*$px $black,
		        	0 -1*$px $white;
            }
        }
    }
    .hiddenpellet{
        position: absolute;
        height: 1em; width: 1em;
        background-color: wheat;
        z-index: -5;
        transform: translateX(620px) translateY(-1380px);
    }
    img{
        margin-top: 20px;
        width: 100vw;
        height: 338px;
    }
    button{
        position: absolute;
        transform: translateX(658px) translateY(-1250px);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 127px;
        height: 46px;
        padding: 16px 0;
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        border-radius: 10px;
        background: transparent;
        border: 0.125em solid #FBED1F;
        transition: background-color 0.5s linear;
        cursor: pointer;
        color: white;
        text-shadow: 
        0 0 0.125em hsl(0, 0%, 100%),
        0 0 0.45em #FBED1F;
        box-shadow: 
        inset 0 0 0.5em 0 #FBED1F,
        0 0 0.5em 0 #FBED1F;
        // position: relative;
        font-family: 'ClashDisplay';

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: 0 0 2em 0.5em #FBED1F;
            opacity: 0;
            transition: opacity 0.5s linear;
        }

        &:hover,&:focus{
            background-color: #FBED1F;
            color: black;
            text-shadow: 
        0 0 0.125em black,
        0 0 0.25em #FBED1F;

            &:after{
                opacity: 1;
            }
        }
    }
}

@keyframes scrmove {
	from { transform: translateX(-500vw); }
	to { transform: translateX(85vw); }
}
@keyframes scrpactop{
    0%,100%{
        transform: rotate(-45deg);
    }
    50%{
        transform: rotate(-80deg);
    }
}
@keyframes scrpacbot{
    0%,100%{
        transform: rotate(-40deg);
    }
    50%{
        transform: rotate(0deg);
    }
}
@media screen and (max-width: 900px) {
    .footer{
        .meet{
            .meetfam{
                margin: 0;
                span{
                    font-size: 4rem;
                }
            }
            .meetdesc{
                display: none;
            }
        }
        img{
            height: max-content;
        }
    }
}