html {
  font-size: 62.5%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: black;
}

@font-face {
  font-family: "CrackMan"; 
  src: local("CrackMan"),
    url("./assets/fonts/CrackMan.ttf") format("truetype");
}

@font-face {
  font-family: "ClashDisplay"; 
  src: local("ClashDisplay"),
    url("./assets/fonts/ClashDisplay-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Autom";
  src: local("Autom"),
    url("./assets/fonts/Autom-Bold.otf") format("opentype");
}

::-webkit-scrollbar {
  display: none;
}
/* ::-webkit-scrollbar-track{
  background: url('./assets/images/pellets.png');
  border-radius: 50%;
  margin-block: 5em;
}
::-webkit-scrollbar-thumb{
  background: yellow;
  border-radius: 50%;
}

::-webkit-scrollbar-thumb:hover{
  background: black;
} */

@supports (scrollbar-color: yellow white) {
  *{
    /* scrollbar-color: yellow white; */
    scrollbar-width: none;
  }
}